@use "../base/colors";

@mixin btn ($width: 150px, $height: 30px, $font-size: 12px, $border-radius: 5px, $bc: colors.$red, $font-color: #ffffff) {
    width: $width;
    height: $height;
    background-color: $bc;
    border-radius: $border-radius;
    font-size: $font-size;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    color: $font-color;
    transition: all 0.5s;
    &:hover {
        box-shadow: 0px 0px 10px 5px colors.$red;
        background-color: #ffffff;
        color: colors.$red;
        text-shadow: 5px 5px 6px colors.$black, -5px -5px 6px colors.$black, -5px 5px 6px colors.$black, 5px -5px 6px colors.$black;
    }
}