
.carousel {
    display: block;
    padding: 81px 0;
    &__inner {
            display: flex;
            align-items: center;
    }
    &__item {
        text-align: center;
        img {
            width: 90%;
        }
    }
    &__container {
        position: relative;
        button {
            position: absolute;
            background-color: #fff;
            img{
                width: 31px;
                height: 50px;
            }
        }
        .control-prev {
            top: 50%;
            transform: translateX(-100%);
        }
        .control-next {
            top: 50%;
            right: 50%;
            left: 100%;
        }
    }
}