@use "../base/colors";

.preference {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 69px 0 81px 0;
    
    &-list {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__img {
                width: 70px;
                height: 70px;
                &-heart {
                    animation: heartbeat;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                }
                &-shoe {
                    animation: run;
                    animation-duration: 2.5s;
                    animation-iteration-count: infinite;
                    // animation-timing-function:cubic-bezier(1, 0, 0, 1)
                    // animation-timing-function: erace-out;
                }
                &-cup {
                    animation: cup-shake;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                }
                &:hover {
                    animation-play-state: paused;
                }
            }
            &__title {
                margin-top: 38px;
                font-size: 18px;
                font-weight: 700;
                color: #0d0d0d;
            }
            &__description {
                width: 247px;
                margin-top: 26px;
                font-size: 14px;
                font-weight: 300;
                color: #0d0d0d;
                text-align: center;
                a {
                    text-decoration: underline;
                    color: colors.$red;
                }
            }
        }
    }
}
