/* 768px - 992px */

@use "../base/mixins";
@media (max-width: 991.5px){
    .container {
        max-width: 700px;
    }
    .promo {
        .main {
            align-items: center;
            &-text {
                align-items: center;
                h1 {
                    font-size: 40px;
                }
                h2 {
                    font-size: 22px;
                }
            }
        }
    }

    .preference {
        &-list {
            .item {
                &__description {
                    max-width: 220px;
                    font-size: 12px;
                }
            }
        }
    }

    .consultation {
        padding: 85px 0 73px 0;
    }
    
    .form {
        margin: 0 auto;
        &_static {
            margin: 0;
        }
        &__item {
            width: 270px;
            height: 45px;
        }
        &__submit {
            margin-left: auto;
            margin-right: auto;
            @include mixins.btn(270px, 45px, 14px);
        }
        &__title {
            font-size: 29px;
        }
        &__require {
            margin-top: 53px;
            font-size: 17px;
        }
        .input-wrapper {
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
            // margin: 0 auto;
            .clear-input {
                top: 13px;
            }
        }
    }

    .carousel {
    padding: 40px;
    }

    .feedback {
        &-item {
           flex-direction: column; 
           align-items: center;
           margin: 70px 0 10px 0;
        }
    }

    .footer {
        &-info {
            min-width: 320px;
            min-height: 220px;
            padding: 40px;
            left: 100%;
            transform: translateX(-100%);
        }
        .footer {
            &__addr {
                
            }
            &__tel {
                margin-top: 35px;
            }
            &__social {
                margin-top: 30px;
            }
        }
    }
}