/* 576px - 768px */
@use "../base/mixins";

@media (max-width: 767.5px) {
    .container {
        max-width: 550px;
    }
    .promo {
        .header {
            .logo__img {
                width: 170px;
                height: 35px;
            }
            .represent__title {
                font-size: 11px;
            }
            .represent__subtitle {
                margin-top: 8px;
                font-size: 14px;
            }
            .contacts__number {
                font-size: 15px;
            }
            .contacts__btn {
                margin-top: 6px;
                @include mixins.btn(137px, 27px, 11px, 4px);
            }
        }
        .main {
            &-text {
                margin-top: 67px;
                h1 {
                    font-size: 34px;
                }
                h2 {
                    font-size: 18px;
                }
            }
            .list-item__img {
                width: 35px;
                height: 35px;
            }
            .list-item__desc {
                font-size: 12px;;
            }
            &-consultation {
                @include mixins.btn(240px, 40px, 12px)
            }
            &-catalog {
                font-size: 14px;
            }
        }
    }
    .preference {
        // height: 100%;
        &__title {
            font-size: 27px;
        }
        &-list {
            & :last-child {
                margin-top: 27px;
            }
            flex-wrap: wrap;
            justify-content: center;;
            // align-items: center;
            margin-top: 55px;
            .item {
                width: 50%;
                &__img {
                   width: 40px;
                   height: 40px;
    
                }
                &__title{
                    margin-top: 21px;
                }
                &__description {
                    margin-top: 27px;
                }
            }
        }
    }
}