/* 350px - 576px */
@use "../base/mixins";

@media (max-width: 576.5px) {
    .container {
        max-width: 90%;
        min-width: 330px;
    }

    .promo {
        padding-bottom: 65px;
        .header {
            flex-wrap: wrap;

            &__logo {
                width: 50%;
                .logo__img {
                    width: 190px;
                    height: 37px;
                }
            }
            &__represent {
                visibility: hidden;
            }
            &__contacts {
                width: 50%;
                .contacts__number {
                    margin-right: 10px;
                    text-align: right;
                    font-size: 13px;
                }
                .contacts__btn {
                    margin-right: 7px;
                    margin-left: auto;
                    @include mixins.btn(125px, 22px, 10px);
                }
            }
            & :nth-child(1) {
                order: 1;
            }
            & :nth-child(2) {
                order: 3;
            }
            & :nth-child(3) {
                order: 2;
            }
           
        }
        .main {
            &-text {
                margin-top: 30px;
                .main__title {
                    font-size: 24px;
                }
                .main__subtitle {
                    font-size: 14px;
                }
            }
            &-list {
                 .list-item {
                    margin-right: 10px;
                    &__img {

                    }
                 }
            }
        }
    }

    .preference {
        padding: 55px 0 55px 0;
        &__title {
            font-size: 23px;
        }

        &-list {
            margin-top: 10px;
            .item {
                width: 100%;
                margin: 27px 0 0 0;
                &__title {
                    margin-top: 17px;
                }
                &__description {
                    margin-top: 20px;
                }
            }
        }
    }

    .consultation {
        padding: 55px 0 55px 0;
    }

    .form {
        align-items: center;
        width: 100%;
        .form__item {
            width: 240px;
            height: 40px;
        }
        .form__submit {
            @include mixins.btn(240px, 40px, 14px);
        }
        &__title {
            font-size: 22px;
            text-align: center;
        }
        &__require {
            font-size: 15px;
            text-align: center;
        }
    }

    .carousel {
        padding: 10px 0;
        &__container {
            min-width: 0;
            &__inner {
                max-width: 90%;
            }
            &__item {
                img {
                    width: 90%;
                }
            }
            button {
                display: none;
                visibility: hidden;
            }
            .control-prev {
            
            }
            .control-next {
    
            }
        }
        
    }

    .catalog {
        &-tabs {
            flex-direction: column;
            align-items: center;
            &__item {
                margin-top: 10px;
                width: 280px;

            }
        }
    }

    .feedback {
        // padding: 55px 0 55px 0;
        &-item {
            &__img {
                width: 140px;
                height: 140px;
            }
        
            &__descr {
                .description {
                    &__title {
                    }
                    &__subtitle {
                        text-align: center;
                    }
                    &__text {
                        text-align: center;
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;

        &-info {
            display: flex;
            position: static;
            transform: none;
            min-width: 255px;
            min-height: 185px;
            padding: 20px;
        }
        .footer {
            &__addr {
                font-size: 22px;
                text-align: center;
            }
            &__tel {
                margin-top: 25px;
                font-size: 21px;
            }
            &__social {
                margin-top: 25px;
                &-item {
                    margin-left: 36px;
                }
            }
        }
    }

    .overlay {
        .modal {
            &__close {
                top: 10px;
                right: 40px;
            }
        }

    }

    a.pageup {
        right: 5px;
        bottom: 10px;
        span {
            font-size: 33px;
        }
    }
}
