@import "libs/fonts";
@import "libs/animate";
@import "libs/slick";
@import "libs/icon_fonts";
@import "base/nullable";
* {
    font-family: 'MuseoSansCyrl';
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import "base/_parts";
@import "blocks/promo";
@import "blocks/preference";
@import "blocks/consultation";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/feedback";
@import "blocks/footer";
@import "blocks/modal";


@import "base/utility";
@import "media/media";
@import "base/animation";